@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --sbbwu-primary: #A10D5A;
  --sbbwu-primary-hover: #C33C78;
  --sbbwu-primary-dark: #870B4C;
  --sbbwu-sidebar-card: #B51E63;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}


/* =====================================================
   CHAT HISTORY SCROLLBAR
===================================================== */

.sidebar-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #f4b8d8 rgba(255, 220, 235, 0.08);
}

/* Chrome, Edge, Safari */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 3px;
}

/* Very thin and subtle pink scrollbar path */
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 220, 235, 0.08) !important;
  border-radius: 9999px;
}

/* Very thin soft light-pink scrollbar */
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #f4b8d8 !important;
  border-radius: 9999px;
  border: none !important;
  box-shadow: none !important;
}

/* menu scrollbar */
                  .menu-scroll {
                    scrollbar-width: thin;
                    scrollbar-color: #a10d5a transparent;
                  }

                  .menu-scroll::-webkit-scrollbar {
                    width: 5px;
                  }

                  .menu-scroll::-webkit-scrollbar-track {
                    background: transparent;
                  }

                  .menu-scroll::-webkit-scrollbar-thumb {
                    background-color: #a10d5a;
                    border-radius: 9999px;
                  }
                